<!-- app/views/interview/index.html.erb -->
<h1>面接ページ</h1>
<%= form_with url: show_interview_path, method: :get, local: true do |form| %>
  <%= form.label :repository, 'GitHubリポジトリ' %>
  <%= form.select :repository, @repositories.collect { |name, url| [name, url] }, { include_blank: true } %>
  <%= form.submit "選択" %>
<% end %>
<%= link_to '汎用面接へ', start_generic_interview_path, class: 'btn btn-secondary' %>