<!DOCTYPE html>
<html data-theme="corporate">
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <%= notice %>
  <% if user_signed_in? %>
  <%= render 'shared/header' %>
  <% else %>
    <%= link_to 'GitHubでログイン', '/auth/github' %>
  <% end %>
  <%= yield %>
</html>